body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #333;
}

article {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

body {
    font-family: 'Gideon Roman', serif; /* Aplicar Gideon Roman como fuente */
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Gideon Roman', serif; /* Cambiar solo el encabezado a Gideon Roman */
}

h1, h2, h3 {
    font-family: 'Gideon Roman', serif; /* Cambiar títulos a Gideon Roman */
}
